/**
 *
 * Tabs rounded corners component
 *
 * A component for displaying tabs as rounded corners.
 *
 */


/* Imports, placeholder classes, mixins and variables related to this document
   ========================================================================== */

@import "compass/css3";

// Include base vars
@import "../../../sass/base/_vars";

// Include base mixins
@import "../../../sass/base/_mixins";



/* Variables used within this document. */
$itk--tabs-color:               $black;
$itk--tabs-active-color:        $white;
$itk--tabs-background:          $white;
$itk--tabs-active-background:   $black;
$itk--tabs-border:              $border-width solid $black;
$itk--tabs-padding:             0.75em 1em;
$itk--tabs-font-size:           1rem;   // Inline block fix. The margin of -4px does not solve issue in chrome (this does).
$itk--tabs-border-radius:       $border-radius;
$itk--tabs-hover-background:    $gray-lighter;
$itk--tabs-hover-color:         $black;


/* Styles
   ========================================================================== */

.itk--tabs {
  font-size: 0;   // Inline block fix.
  text-align: center;

  &--item {
    background: $itk--tabs-background;
    border: $itk--tabs-border;
    box-sizing: border-box;
    border-right: 0;
    color: $itk--tabs-color;
    cursor: pointer;  // To allow for spans as items rather than a tags.
    display: inline-block;
    font-size: $itk--tabs-font-size;  // Inline block fix.
    padding: $itk--tabs-padding;
    text-align: center;

    @include strip-link-styles();

    &:first-child {
      @include border-radius($itk--tabs-border-radius 0 0 $itk--tabs-border-radius);
    }

    &:last-child {
      border: $itk--tabs-border;

      @include border-radius(0 $itk--tabs-border-radius $itk--tabs-border-radius 0);
    }

    &:hover {
      background: $itk--tabs-hover-background;
      color: $itk--tabs-hover-color;
    }

    &.is-active {
      background: $itk--tabs-active-background;
      color: $itk--tabs-active-color;
    }
  }

  &-full {
    font-size: 0;   // Inline block fix.
  }

  &-full[itk--tabs-count="2"] > .itk--tabs--item {
    width: 50%;
  }

  &-full[itk--tabs-count="3"] > .itk--tabs--item {
    width: 33.33%;
  }

  &-full[itk--tabs-count="4"] > .itk--tabs--item {
    width: 25%;
  }
}